<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=f, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cyborg/bootstrap.min.css"
    integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">
  <title>lista de update</title>
</head>

<body>


  <div class="d-flex align-items-center" style="height: 100vh;">
    <div class="m-auto w-25">
      <h3 class="text-center">Editar Item</h3>
    <br>
    <form method="POST" action="/list/update">
      <input type="hidden" name="id" value="<%= name.id %> ">
      <input class="form-control" type="text" name="name" value="<%= name.name %> ">
      <br>
      <button class="btn btn-lg btn-warning btn-block">Atualizar</button>
      <br>
      <p class="text-center "><a href="/list">Visitar lista de item</a></p>
      <p class="text-center "><a href="/">Inicio</a></p>
    </form>
    </div>
  </div>


</body>

</html>