<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=f, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cyborg/bootstrap.min.css"
    integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>


  <div class="d-flex align-items-center" style="height: 100vh;">
    
     <div class="m-auto w-25">
      <form method="POST" action="/save">
        <h3 class="text-center">Crie seu Item</h3>
        <br>
        <input class="form-control" type="text" name="name" placeholder="digite seu item">
        <br>
        <button class="btn btn-lg btn-success btn-block">enviar</button>
        <br>
        <p class="text-center "><a href="/list">Visitar lista de item</a></p>
      </form>
     </div>
    
   
  </div>

  </form>


</body>

</html>